
* {
    background: #f5f5f5;
    color: black;
}
html {
    height: 100%;
}

body {
    height: 100%;
    border: 5px solid #ffdb3a;
}


h1 {
    font-size: 1.5rem;
    line-height: 0.5rem;
}

p, div {
    font-size: 16px;
}